:root {
  --dejade: #77a138;
  --dejade-deklik: #77a138;
  --dejade-demuis: #77a138;
  --dejade-derand: #77a138;
  --dejade-detijd: #77a138;
}

.bg-dejade {
  background-color: #77a138;
  background-color: var(--dejade);
}

.bg-dejade.ia-deklik {
  background-color: var(--dejade-deklik);
}

.bg-dejade.ia-demuis {
  background-color: var(--dejade-demuis);
}

.bg-dejade.ia-derand {
  background-color: var(--dejade-derand);
}

.bg-dejade.ia-detijd {
  background-color: var(--dejade-detijd);
}

.border-dejade {
  border-color: #77a138;
  border-color: var(--dejade);
  border-style: solid;
  border-width: .0625rem;
}

.border-dejade.ia-deklik {
  border-color: var(--dejade-deklik);
}

.border-dejade.ia-demuis {
  border-color: var(--dejade-demuis);
}

.border-dejade.ia-derand {
  border-color: var(--dejade-derand);
}

.border-dejade.ia-detijd {
  border-color: var(--dejade-detijd);
}

.fill-dejade {
  fill: #77a138;
  fill: var(--dejade);
}

.fill-dejade.ia-deklik {
  fill: var(--dejade-deklik);
}

.fill-dejade.ia-demuis {
  fill: var(--dejade-demuis);
}

.fill-dejade.ia-derand {
  fill: var(--dejade-derand);
}

.fill-dejade.ia-detijd {
  fill: var(--dejade-detijd);
}

.text-dejade {
  color: #77a138;
  color: var(--dejade);
}

.text-dejade.ia-deklik {
  color: var(--dejade-deklik);
}

.text-dejade.ia-demuis {
  color: var(--dejade-demuis);
}

.text-dejade.ia-derand {
  color: var(--dejade-derand);
}

.text-dejade.ia-detijd {
  color: var(--dejade-detijd);
}
