
@function deJade($dejade-alpha: 1) {
  // Get pseudo-random values for red, green, and blue.
  $dejade-red: random(127) !default;
  $dejade-green: 127 + random(128) !default;
  $dejade-blue: random(191) !default;

  @return rgba($dejade-red, $dejade-green, $dejade-blue, $dejade-alpha);
}

// Define deJade.
$dejade: deJade() !default;

// Define properties.
$properties: (
        bg: 'background-color',
        border: 'border-color',
        fill: 'fill',
        stroke: 'stroke',
        text: 'color'
) !default;

// Define interactions.
$interactions: ('degyro', 'deklik', 'demuis', 'derand', 'detijd') !default;
