
// Get pseudo-random values for red, green, and blue.
$r: random(127);
$g: 127 + random(128);
$b: random(191);

// Define deJade.
$dejade: rgb($r, $g, $b);

// Define properties.
$properties: (
        bg: 'background-color',
        border: 'border-color',
        fill: 'fill',
        text: 'color'
);

// Define interactions.
$interactions: ('deklik', 'demuis', 'derand', 'detijd');

// Assign variables to root.
:root {
  --dejade: #{$dejade};

  @each $interaction in $interactions {
    --dejade-#{$interaction}: #{$dejade};
  }
}

// Define rules.
@each $property in map_keys($properties) {
  .#{$property}-dejade {
    $rule: map_get($properties, $property);
    #{$rule}: #{$dejade};
    #{$rule}: var(--dejade);

    @each $interaction in $interactions {
      &.js-#{$interaction},
      &data-#{$interaction} {
        #{$rule}: var(--dejade-#{$interaction});
      }
    }
  }
}

.border-dejade {
  border-style: solid;
  border-width: .0625rem;
}