
$r: random(127);
$g: 127 + random(128);
$b: random(191);

$dejade: rgb($r, $g, $b);

:root {
  --dejade: #{$dejade};
  --dejade-demuis: #{$dejade};
  --dejade-detijd: #{$dejade};
}

.bg-dejade {
  background-color: $dejade;
  background-color: var(--dejade);

  &.ia-demuis {
    background-color: var(--dejade-demuis);
  }

  &.ia-detijd {
    background-color: var(--dejade-detijd);
  }
}

.border-dejade {
  border-color: $dejade;
  border-color: var(--dejade);
  border-style: solid;
  border-width: .0625rem;

  &.ia-demuis {
    border-color: var(--dejade-demuis);
  }

  &.ia-detijd {
    border-color: var(--dejade-detijd);
  }
}

.text-dejade {
  color: $dejade;
  color: var(--dejade);

  &.ia-demuis {
    color: var(--dejade-demuis);
  }

  &.ia-detijd {
    color: var(--dejade-detijd);
  }
}
