
// TODO: Consider switching from interaction to data attributes for interaction.
// .ia-deklik would become [data-deklik], for example.

$r: random(127);
$g: 127 + random(128);
$b: random(191);

$dejade: rgb($r, $g, $b);

$types: (
        bg: 'background-color',
        border: 'border-color',
        fill: 'fill',
        text: 'color'
);

$interactions: ('deklik', 'demuis', 'derand', 'detijd');

:root {
  --dejade: #{$dejade};

  @each $interaction in $interactions {
    --dejade-#{$interaction}: #{$dejade};
  }
}

@each $type in map_keys($types) {
  .#{$type}-dejade {
    $rule: map_get($types, $type);
    #{$rule}: #{$dejade};
    #{$rule}: var(--dejade);

    @each $interaction in $interactions {
      &.ia-#{$interaction} {
        #{$rule}: var(--dejade-#{$interaction});
      }
    }
  }
}

.border-dejade {
  border-style: solid;
  border-width: .0625rem;
}