
$r: random(127);
$g: 127 + random(128);
$b: random(191);

$dejade: rgb($g, $g, $b);

:root {
  --dejade: #{$dejade};
}

.bg-dejade {
  background-color: $dejade;
  background-color: var(--dejade);
}

.text-dejade {
  color: $dejade;
  color: var(--dejade);
}
